<div class="home">
  <h1>TF2 Config Generator</h1>
  <mat-tab-group>
    <mat-tab label="Controls">
      <div class="controls">
        <div class="input-group">
          <mat-label [matTooltip]="mouseSensitivity.description">{{mouseSensitivity.label}}</mat-label>
          <mat-slider thumbLabel min="0" max="30" step="0.1" [(ngModel)]="mouseSensitivity.value"></mat-slider>
        </div>
        <div class="input-group">
          <mat-label [matTooltip]="mouseFilter.description">{{mouseFilter.label}}</mat-label>
          <mat-slide-toggle [(ngModel)]="mouseFilter.value"></mat-slide-toggle>
        </div>
        <div class="input-group">
          <mat-label [matTooltip]="rawInput.description">{{rawInput.label}}</mat-label>
          <mat-slide-toggle [(ngModel)]="rawInput.value"></mat-slide-toggle>
        </div>
        <div class="input-group">
          <mat-label [matTooltip]="mouseAcceleration.description">{{mouseAcceleration.label}}</mat-label>
          <mat-slide-toggle [(ngModel)]="mouseAcceleration.value"></mat-slide-toggle>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Advanced">
      <mat-form-field appearance="outline">
        <textarea matInput class="code" placeholder="autoexec.cfg" cols="80" [(ngModel)]="config"></textarea>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button (click)="previewConfig(config)">Preview Config</button>
        <button mat-raised-button color="primary" (click)="downloadConfig(config)">Download Config</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
