@import '../../styles';

.home {
  padding: 2.0rem;
  background-color: white;
  height: 100%;

  mat-form-field {
      width: 100%;
  }

  .buttons {
    button {
      margin-right: 1rem;
    }
  }

  .mat-tab-group {
    height: 100%;
  }

  .input-group {
    width: 100%;
    height: 3.0rem;

    mat-label {
      padding-right: 1rem;
    }
  }
}

.controls {
  padding-top: 2.0rem;
}
